.row{
    display: flex;
    flex-wrap:wrap;
    padding: 1em 0em;
    text-align: center;
}
.column{
   width: 100%;
   padding: 0.5em 0;
   margin-bottom: 2em;

}
.coco{
    margin-top: -9vh;
    color: #431c5d;
}
h1{
    width: 100%;
    text-align:center;
    color:rgb(0, 0, 0);
}
.card{
    box-shadow: 0 0 2.2em rgb(26, 21, 21);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color:blueviolet;
    transition: 0.5s;
    background-color: #e6e9f0;
}
.card .img-container{
    width:8em;
    height:8em;
    /* background-image: url('../Home/img/race.gif'); 
    background-position: center;
     background-size:cover;
      height: 100%; 
      border-radius: 50%; */
    font-weight: bold;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}
.img-container p{
    color: white;
}
.team{
       
    background-position: center;
     background-size:cover;
      height: 100%; 
      border-radius: 50%;
}
.first{
    background-image: url('../Team/img/ele.gif'); 
}
.second{
    background-image: url('../Team/img/Native.gif'); 
}
.third{
    background-image: url('../Team/img/Cowboy.gif'); 
}
.fourth{
    background-image: url('../Team/img/Viking.gif'); 
}
.five{
    background-image: url('../Team/img/Samurai.gif'); 
}
.sixth{
    background-image: url('./img/idk.jpg'); 
}





.card img{
    width:8em;
    height:8em;
    background-color: cyan;
    border-radius: 50%;
    z-index: 11;
}

.card h3{
    font-weight: 500;
}
.card p{
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.icon{
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
}

 /* .ilon{
    width:24px;
    height: 24px;
  } */
.card a {
    text-decoration: none;
    /* max-height: 24px; */

}

.card:hover{
    background-image: linear-gradient(#6045ea,#8567f7);
    color: antiquewhite;
}

.card:hover .img-container{
    transform: scale(1.2);
}

@media screen and (min-width:992px) {
    .card{
        padding: 5em 1em;
    }
    .column{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}




